################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PETAPoCo/.vs/PETAPoCo/v17
/PETAPoCo/obj
/PETAPoCo/.vs
/PETAPoCo/bin/Debug/net9.0
